<div class="relative" [formGroup]="parentFormGroup">
  <input
    class="peer block"
    [type]="inputType"
    [id]="inputId"
    [formControlName]="controlName"
    [ngClass]="{ 'is__invalid-input': error }"
    [placeholder]="placeholder" />
  <label
    [for]="inputId"
    class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-white px-2 text-sm text-gray-500 duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary-600 dark:bg-night-700 dark:text-night-200">
    {{ label }}
  </label>

  <span
    *ngIf="showRightIcon"
    (click)="rightIconClick.emit()"
    class="absolute top-2.5 right-5 cursor-pointer text-gray-400 dark:text-night-300">
    <svg-icon [src]="rightIcon" svgClass="h-5 w-5"> </svg-icon>
  </span>
</div>
